---
export const prerender = false
import Pagelayout from "@/layouts/Postlayout.astro"
import getPage from "@/lib/pagedbAPI/getPage"
import { servicename } from "@/env/vars"
import { baseurl } from "@/env/envs"

const baseurlNormalized = baseurl.replace(/\/$/, "")
const { dbIndex, slug } = Astro.params
if (typeof slug === "undefined" || typeof dbIndex === "undefined") {
    return Astro.redirect(baseurlNormalized + "/500")
}
if (!Number.isInteger(Number(dbIndex)) && dbIndex !== "legacy") {
    console.debug(`Invalid dbIndex or slug: dbIndex=${dbIndex}, slug=${slug}`)
    return Astro.redirect(baseurlNormalized + "/500")
}

const pageId = `${dbIndex}/${slug}`
const [did, rkey] = slug.split("@")
const getPageResult = await getPage({ pageId: pageId })

const url = new URL(`https://bsky.app/profile/${did}/post/${rkey}`)

if ("error" in getPageResult) {
    if (getPageResult.error === "RateLimitExceeded") {
        return Astro.redirect(
            baseurlNormalized + "/503?url=" + encodeURIComponent(url),
        )
    } else {
        return Astro.redirect(baseurlNormalized + "/404")
    }
}
const author = getPageResult.handle
console.debug(`author: ${author}, rkey: ${rkey} pageId: ${pageId}`)

const title = `${author} Post - ${servicename}`
const imgs = getPageResult.imgs
const robots = ["noindex", "nofollow", "noarchive", "noimageindex"]
import Loadingcircle from "@/components/loadingcircle.astro"
---

<Pagelayout
    cardPath={getPageResult.ogp}
    pageTitle={title}
    robots={robots}
    hideLoader={true}
>
    <div class="items-center text-center">
        <h3>
            <a href={new URL(`${author}`, "https://bsky.app/profile/")}>
                @{author}
            </a>'s post:
            <a href={url}> Source post here(Bluesky) </a>
        </h3>
        {
            imgs.map(value => {
                return (
                    <img
                        src={value.thumb}
                        alt={value.alt}
                        class="mx-auto mb-2"
                    />
                )
            })
        }
    </div>
    <div class="m-auto w-fit my-4 items-center text-center">
        <div id="pload">
            <Loadingcircle size="l" />
        </div>
        <space id="page" pageid={pageId}></space>
    </div>
    <div slot="outofcontainer" class="text-center my-2">
        <a href={baseurl} class="text-center p-2 rounded-lg bg-white opacity-80"
            >トップへ戻る</a
        >
    </div>
</Pagelayout>
